*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto", sans-serif;
    background: linear-gradient(90deg , #f0eeff,#ffff);
   height: 100vh;
}
.loginForm {
    height: 65%;
    max-width: 900px;
    display: flex;
    padding: 12px;
    border-radius: 20px;
    margin-top: 60px;
    margin-bottom: 35px;
    border: none;
    background: linear-gradient(90deg, #f0eeff, #ffff);
    box-shadow: 1px 0 25px 3px rgba(0, 0, 0, 0.18)
}
.loginInputContainer{
     width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

/* .loginInputContainer {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
} */
/* #loginInputContainer{
    text-align: center;
    color: #3e2dae;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */

#loginPageHeading{
    text-align: center;
    color: #3e2dae;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#wlcmLoginheading{
    text-align: center;
     color: #302b58;
}

#loginHeading3{
     color: #241b5bd4;
    text-align: center;
}


.loginInput {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    /* border: 1px solid black; */
    gap: 19px;
    margin-top: 32px;
}

#password {
    /* margin-bottom: 25px; */
    grid-column: 1/2;
}

#email {
    grid-column: 1/2;
}

.loginInput input {
    width: 100%;
    height: 55px;
    padding: 8px 0 8px 14px;
    font-size: 16px;
    color: #0000009d;
    border: 1px solid rgba(0, 0, 0, 0.304);
    border-radius: 6px;
}
input:hover{
border-color:#3e2dae;
background-color: #a7a0df63;

}
input:focus {
  outline: none;        
  border: none;         
}

.loginInputContainer #loginBtn {
    width: 100%;
    border: none;
    border-radius: 40px;
    background-color: #624ee1;
    color: white;
    padding: 15px;
    font-weight: bold;
    margin-top: 25px;
    cursor: pointer;
    transition: background-color 0.2s ease, box-shadow 0.2s;
}

#loginBtn:hover {
    background-color: #3e2dae;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
 
