* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto", sans-serif;
    background: linear-gradient(90deg, #f0eeff, #ffff);
    height: 100vh;
    width: 100vw;
}



/* nav {
    width: 100%;
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 50px;
}

nav img {
    max-width: 190px;
    height: auto;
    width: 170px;
    height: 35px;
}

nav button {
    height: 40px;
} */

#SignUpForm {
    height: 95%;
    max-width: 900px;
    display: flex;
    padding: 12px;
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 35px;
    border: none;
    background: linear-gradient(90deg, #f0eeff, #ffff);
    box-shadow: 1px 0 25px 3px rgba(0, 0, 0, 0.18)
}

#signUpPageHeading {
    text-align: center;
    color: #3e2dae;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#wlcmheading {
    text-align: center;
    color: #302b58;
}

#signupHeading3 {
    color: #241b5bd4;
    text-align: center;
}


.SignUp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.SignUpInputContainer {
    /* width: 100%; */
    max-width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: 10px;
}



.SignUpInput {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    /* border: 1px solid black; */
    gap: 19px;
    margin-top: 32px;
}

#userName {
    /* margin-bottom: 25px; */
    grid-column: 1/3;
}

#email {
    grid-column: 1/3;
}

.SignUpInput input {
    width: 100%;
    height: 55px;
    padding: 8px 0 8px 14px;
    font-size: 16px;
    color: #000000b9;
    
    border: 1px solid rgba(0, 0, 0, 0.304);
    border-radius: 6px;
    transform: all 0.4s ease;
}
input:hover{
border-color:#3e2dae;
background-color: #a7a0df63;

}
input:focus {
  outline: none;        
  border: none;         
}
.SignUpInputPolicyPara {
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

.SignUpInputPolicyPara #para1 {
    font-size: 13.5px;
    color: #00000099;
    line-height: 1.5;
}

.SignUpInputPolicyPara #para2 {
    font-size: 13.5px;
    color: #00000099;
}

.SignUpInputContainer #agreeJoinBtn {
    border: none;
    border-radius: 40px;
    background-color: #624ee1;
    color: white;
    padding: 15px;
    font-weight: bold;
    margin-top: 25px;
    cursor: pointer;
    transition: background-color 0.2s ease, box-shadow 0.2s;
}

#agreeJoinBtn:hover {
    background-color: #3e2dae;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}


.SignUpInputContainer #signInWithGoogle {
    background: transparent;
    border: 1px solid rgba(128, 128, 128, 0.637);
    border-radius: 40px;
    color: rgba(0, 0, 0, 0.646);
    padding: 15px;
    font-size: 15px;
    margin-top: 12px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#signInWithGoogle:hover {
    border: 1.5px solid #3e2dae;
    background-color: #cec8fa3b;
}

#signInWithGoogle span {
    margin-right: 10px;
    font-size: 17px;
}

.SignUpInputContainer #alreadOnLogin {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.849);
    text-align: center;
    margin-top: 25px;
}

#alreadOnLogin a span {
    color: #624ee1;
    font-weight: 400;
    cursor: pointer;
}

#alreadOnLogin a #loginBtn {
    font-weight: bold;
}